@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rubik:wght@600&display=swap");

h1 {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #11175e;
  padding: 0;
  margin: 72px 0 0 0;
}

.app {
  width: 1000px;
  min-height: 670px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 23, 71, 0.15);
  border-radius: 32px;

  display: flex;
  justify-content: center;
}

.app__conteiner {
  width: 600px;
}


form {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 58px;
  padding: 0;
  border: 1px solid #eeeeee;
  border-radius: 8px;
  background: #ffffff;
}

input:focus {
  border: none;
}

input[type="text"] {
  width: 400px;
  height: 100%;
  outline: none;
  margin: 0 0 0 20px;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */

  letter-spacing: 0.01em;
  font-feature-settings: "liga" off;

  color: #b1bacb;
}

input[type="submit"] {
  padding: 0;
  margin: 0 6px 0 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  width: 84px;
  height: 44px;

  background: #2d70fd;
  border: 1px solid #2d70fd;
  border-radius: 4px;
  color: #ffffff;
}

.app__list {
  min-height: 333px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

label::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #eeeeee;
  border-radius: 32px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.done::before {
  background: #00d8a7;
  border-color: #00d8a7;
  background-image: url("./components/ListTasks/test.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.app__element {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
}

.app__element:hover p {
  color: #2D70FD;

}

.app__element p {
  margin-left: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */

  letter-spacing: 0.01em;
  font-feature-settings: "liga" off;

  color: #001747;
}

.done+p {
  text-decoration: line-through;
  color: #8F98A8;
  /* Добавляем зачеркивание */
}


.app__footer {
  border-top: 1px solid #EEEEEE;

  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.app__footer-elem {
  cursor: pointer;
}

.app__footer-elem p {

  font-family: 'Inter';

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  /* identical to box height, or 18px */

  text-align: right;
  letter-spacing: 0.01em;
  font-feature-settings: 'liga' off;

  color: #B1BACB;
}

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
*/