@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@600;700&display=swap');



body {
    --main-bg-color: #F1F1F1;
    --second-bg-color: #ffffff;


    --main-text-color: #000000;
    --second-text-color: #E6E6E6;

    --component-color: #4535CC;
    --component-hover-color: #372AA3;
    --component-disabled-color: #AFAADA;


    margin: 0;
    padding: 0;
    
}


.dark {
    --bg-color: #292C35;
}

.root {
    min-height: 100%;
}

/*
    font-family: 'Inter', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;2

*/